{% include '../head.html' %}
{% include './sidebar.html' %}

<div id="content">
    <h1 class="welcome-user">Create your New Summary</h1>
    <span class="nav-map">Login / Dashboard / New Summary</span>



    <!-- SELECT BUTTONS -->
    <div class="summary-grid no-left-margin">
        <div class="summary-grid-layout summary-grid-active " id="filechoose">
            <i class="grid-icon fa-solid fa-copy" id="icon-file"></i>
            <br>
            <span class="summary-grid-text">Generate<br> Content</span>
        </div>

        <div class="summary-grid-layout " id="linkchoose">
            <i class="grid-icon fa-solid fa-image" id="icon-news"></i> <br>
            <span class="summary-grid-text">Generate <br>Image</span>
        </div>
    </div>

    <!-- FILE CHOOSE MODEL -->
    <div class="upload-file-section">


        <form class="form-horizontal" role="form" action="/summary/nw_own_article" method="post">
            <!-- <input type="hidden" name="meta" value="{{meta}}" /> -->

            {%csrf_token%}
            <input type="hidden" name="type" value="{{contentType}}" id="type-of-content" />
            <input class="FormInputNEWS" type="text" name="text_to_gen" id="text_to_gen"
                placeholder="Give a brief introduction to generate content" value="{{contentQN}}" />
            {%if contentType == 'text' %}
            <div class="row-100">
                <textarea rows="5" class="trans-summary mr-auto" name="newArt">{{content}}</textarea>
            </div>
            {%endif%}
            {%if contentType == 'img' %}
            <div class="row-100 py-20">
                <img src="{{imgPath}}" class="mr-auto img-gen" />
            </div>
            {%endif%}
            <div class="row-100">
                <div class="col-50 py-20">
                    <button class="btn-trans" type="submit"><i class="fa fa-download"></i> Download HTML</button>
                </div>
                <div class="col-50 py-20"><button type="button" class="btn-approve color-b"><i class="fa fa-gear"></i>
                        REGenerate Content</button></div>
            </div>

        </form>
    </div>




</div>
</body>



</html>

{% include '../footer.html' %}


<script>



    // Default Color values

    $('#filechoose').click(function () {


        $('#filechoose').addClass('summary-grid-active');
        $('#linkchoose').removeClass('summary-grid-active');

        $('#icon-file').replaceClass('color-b', 'color-a');
        $('#icon-news').replaceClass('color-a', 'color-b');

        $('#type-of-content').val('text');


    });
    $('#linkchoose').click(function () {
        $('#filechoose').removeClass('summary-grid-active');
        $('#linkchoose').addClass('summary-grid-active');

        $('#icon-file').replaceClass('color-a', 'color-b');
        $('#icon-news').replaceClass('color-b', 'color-a');
        $('#type-of-content').val('img');



    });





    $('#content-history').addClass('nav-active');


</script>