<div id="left-sidebar">
  <a class="nostyle" href="/summary/summary_dash">
    <img class="sidebar-img" src="/static/img/logo.png" />
    <div class="sidebar-heading bg-dash-nav" id="dashboard">Dashboard</div>
  </a>

  <div class="sidebar-heading ">Summary</div>
  <ul class="nav-menu">
    <li>
      <a class="nostyle" href="/summary/new_summary" id="new-summary"><i class="color-b fa-solid fa-circle-plus"></i>
        New
        Summary</a>
    </li>
    <li>
      <a class="nostyle" href="/summary/mysummaries " id="view-summaries"><i class="color-b fa-solid fa-book"></i> View
        Summary</a>
    </li>

    <li>
      <a class="nostyle" href="/summary/mymeetings " id="view-meetingList"><i class="color-b fa-solid fa-users"></i> View
        Meetings</a>
    </li>
  </ul>

  <div class="sidebar-heading">Content</div>
  <ul class="nav-menu">
    <li>
      <a class="nostyle" href="/summary/new_content" id="new-content"><i class="color-b fa-sharp fa fa-pen-nib"></i>
        New
        Content</a>
    </li>
    <li>
      <a class="nostyle" href="/summary/new_content_history" id="content-history"><i
          class="color-b fa-solid fa-list"></i> Content History</a>
    </li>
  </ul>

  <div class="sidebar-heading">Sentiment</div>
  <ul class="nav-menu">
    <li>
      <a class="nostyle" href="/summary/twitter_analysis" id="twitter-analysis"><i
          class="color-b fa-solid fa-chart-simple"></i>
        Analysis</a>
    </li>
    <li>
      <a class="nostyle" href="/summary/twitter_analysis_reports" id="analysis-reports"><i
          class="color-b fa-solid fa-list"></i>
        View Reports</a>
    </li>

  </ul>
</div>