<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet" />
    <script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
    <link href='//cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>


    <title>AtomAX</title>
</head>

<body>

    <div class="glow-top"></div>
    <div class="top-right-glow"></div>
    <div id="header">
        <i class="header-items fa-solid fa-bell"></i>
        <sup class="badge"><i class="fa-solid fa-circle"></i></sup>
        <i class="header-items user-img fa-solid fa-user"></i>
        <i class="header-items fa-solid fa-ellipsis-vertical"></i>
        <span style="padding-right: 50px;"></span>
    </div>

    <!-- Model for Notification Center -->
<!-- 
    <div class="notification-center">
        <span class="notification-title">Alert center</span>
        <ul>
            <li class="notification-item">
                <span class="notification-icon"><i class="fa-solid fa-bell"></i></span>
                <span class="notification-text">New Notification</span>
            </li>
        </ul>
    </div> -->